# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\光谱曲线采集\第三次标定_采集各种颜色的光谱曲线\acquire_certain_curve\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
