# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hyperspectral_system_demo\Hyperspectral_face_recognition_gui_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
